<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-9 mx-auto">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-body">
                        <div >
                            <h3>Editar página</h3>
                        </div>
                        <div class="card-body">
                            <form action="/manager_panel/managepage/edit" method="POST">
                                <input type="hidden" name="id" value="{{page._id}}">
                                <label for="title">Título: </label>
                                <input type="text" id="title" name="title" placeholder="Título" class="form-control"
                                    value="{{page.title}}">
                                <label for="content">Conteúdo: </label>
                                <textarea name="content" class="form-control">{{page.content}}</textarea>
                                <br>
                                <div class="row">
                                <div class="col-xs-4 btn-space btn-spacey"> 
                                     <button class="btn btn-info " type="submit">Editar página</button>
                                </div>
                                <div class="col-xs-4 btn-space"> 
                                     <a href="/manager_panel/managepage"><button class="btn btn-danger" type="button" ">Cancelar</button></a>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>