<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-7 col-lg-6 mx-auto">
        <div class="card text-white bg-dark mb-3">
          <div class="card-body">
            <center>
              <h3>Painel do Administrador</h3>

              <a href="/admin_panel/manageuser"><button class="btn btn-info mt-3">Gerenciar contas</button></a>
              <a href="/admin_panel/logscreen"><button class="btn btn-info mt-3">Registro de eventos</button></a>
              <a href="/admin_panel/backup"><button class="btn btn-info mt-3">Cópia de segurança</button></a>

            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>